/* FinalUpdate.css */
.final-update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .final-update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho fijo para centrar mejor */
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%; /* Asegura que los selectores ocupen el 100% del contenedor */
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group select {
    width: 100%; /* Asegura que los selectores ocupen el 100% del contenedor */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  h2 {
    text-align: center; /* Centra el título */
  }
  