body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed; /* Para asegurar que la imagen cubra toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 0.5em; /* Hacer el header más fino */
    font-weight: normal; /* Hacer el encabezado más fino */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#predicciones-panel {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: 16px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
